
@font-face {
    font-family: raleway;
    src: url(@/assets/fonts/raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: raleway-bold;
    src: url(@/assets/fonts/raleway/Raleway-Bold.ttf);
}